/* 

.card {
    flex: 1 1 250px;
    padding: 8px;
    background-color: #f0f0f0;
    text-align: left;
    border-radius: 8px;
    align-items: left;
} 

.container {
    color: white; 
    // El texto queda totalmente visible
}

*/

.card-header{
    background-color: red;
}