<!-- <div class="card">
    <div class="card-body">
        <h5 class="card-title">{{nombre}}</h5>
        <img [src]='imagen' class="card-img-top" alt="...">
        <p class="card-text">{{descripcion}}</p>

        <select class="form-select" aria-label="Tipo" *ngIf="tipoHabilitado==true">
            <option selected value="1">Tradicional</option>
            <option value="2">Picante</option>
            <option value="3" *ngIf="tamanoHabilitado==true">Mixta</option>
        </select>

        <select class="form-select" aria-label="Acompañamiento" *ngIf="acompanamientoHabilitado==true">
            <option selected value="1">Pan</option>
            <option value="2">Papa</option>
            <option value="2">Arepa</option>
            <option value="3">Solo</option>
        </select>

        <select class="form-select" aria-label="Tamaño" *ngIf="tamanoHabilitado==true">
            <option selected value="1">Sencilla</option>
            <option value="2">Doble</option>
        </select>

        <div class="form-floating">
            <textarea class="form-control" placeholder="Comentarios adicionales" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Comentarios</label>
        </div>
        
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
</div> -->